
<header class="sHeader">
  <div class="sHeader__top">
    <ul class="sUser">
      <li class="sUser__item">
        <div class="sUser__info">
          <p class="sUser__text">
            <b>
              <a class="sUser__link" href="">Arslangalin.vr</a>
            </b>
          </p>
          <div class="sUser__info-options">
            <a href="" class="sUser__link">Журнал задач</a>
          </div>
        </div>
      </li>
      <li class="sUser__item">
        <a href="" class="sUser__link">Выйти</a>
      </li>
    </ul>
  </div><!--/.sHeader__top -->

  <div class="sHeader__center">
    <a class="sHeader__logo sLogo" href="">
      <img class="sLogo__img" src="assets/img/logoscts.png" alt="Логотип озна" width="181" height="55">
    </a>
    <div class="sHeader__title">Система Управления Проектами</div>
    <div class="sHeader__nav">
      <a class="sHeader__link" href="">Проекты</a>
      <div class="sHeader__nav-inner">
        <input type="text" placeholder="Поиск">
        <select name="" id="">
          <option value="">Перейти к проекту</option>
        </select>
      </div>
    </div>
  </div><!--/.sHeader__center -->

</header><!--/.sHeader -->


