
<div class="sTabs">
  <ul class="sTabs__list">
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Обзор</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Действия</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link active">Задачи</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Трудозатраты</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Диаграмма Ганта</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Agile</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Календарь</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Файлы</a>
    </li>
    <li class="sTabs__item">
      <a href="" class="sTabs_link">Настройки</a>
    </li>
  </ul>
</div><!--/.sTabs-->
