@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto-Light"), url("../fonts/roboto-300.woff2") format("woff2"), url("../fonts/roboto-300.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/roboto-400.woff2") format("woff2"), url("../fonts/roboto-400.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url("../fonts/roboto-500.woff2") format("woff2"), url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"), url("../fonts/roboto-700.woff2") format("woff2"), url("../fonts/roboto-700.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.content {
    margin-top: 10px;
    padding: 10px 8px;
    background-color: #fff;
    height: 800px;
}

.content h3 {
    margin-top: 0;
}

.sLogo {
    display: block;
}

.sLogo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sUser {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.sUser__info {
    display: flex;
    align-items: center;
}

.sUser__text {
    margin: 0 5px 0 0;
    padding-left: 22px;
    text-transform: uppercase;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-image: url("../img/account.svg");
    background-position: left center;
    background-size: 19px;
    background-repeat: no-repeat;
}

.sUser__text b {
    margin: 0 7px 0 5px;
}

.sUser__link {
    color: #fff;
    opacity: 0.9;
    transition: opacity 0.1s ease;
}

.sUser__link:hover {
    opacity: 1;
    text-decoration: none;
}

.sHeader {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.sHeader__top {
    padding: 8px;
    background-color: #3c5b77;
}

.sHeader__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    background-color: #628db7;
    box-sizing: border-box;
}

.sHeader__logo {
    width: 170px;
}

.sHeader__title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.sHeader__nav {
    display: flex;
    align-items: center;
}

.sHeader__link {
    font-size: 14px;
    color: #fff;
    opacity: 1;
    transition: opacity 0.1s ease;
}

.sHeader__link:hover {
    opacity: 1;
    text-decoration: none;
}

.sHeader__nav-inner {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sBreadcrumbs {
    margin: 7px 0 13px 0;
    padding: 0 8px;
    list-style: none;
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
}

.sBreadcrumbs__item::after {
    content: "/";
    margin: 0 6px 0 4px;
    opacity: 0.6;
}

.sBreadcrumbs__link {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.6);
}

.sBreadcrumbs__link:hover {
    text-decoration: none;
}

.sTitle {
    margin: 0 0 13px 0;
    padding: 0 6px;
    font-size: 28px;
    text-transform: uppercase;
}

.sTabs {
    background-color: #628db7;
    padding: 8px 8px 0 8px;
}

.sTabs__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    -moz-column-gap: 5px;
    column-gap: 5px;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}

.sTabs_link {
    display: block;
    padding: 5px 7px;
    background-color: #4E77AB;
    color: #fff;
    text-decoration: none;
    border-radius: 3px 3px 0 0;
    transition: color 0.2s ease;
}

.sTabs_link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.sTabs_link.active {
    background-color: #eeeeee;
    color: #000;
    pointer-events: none;
}